*{
    font-family: 'Raleway', sans-serif;
}
body{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
section,.cabecera{
    width: 1100px;
    margin: auto;
}
.poke_container{
    display: flex;
    flex-wrap: wrap;
    gap:25px;
    padding-top: 2rem;
}
.pokemon{
    width: 220px;
    padding: 10px;
    background-color: #FFF;
    border-radius: 10px 40px 10px 40px;
    border: 3px solid black;
    text-align: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='250' height='300' preserveAspectRatio='none' viewBox='0 0 250 300'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1071%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsPath1072' x='30' y='30' stroke='rgba(121%2c 202%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='30' y='90' stroke='rgba(121%2c 202%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='30' y='150' stroke='rgba(121%2c 202%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='30' y='210' stroke='rgba(121%2c 202%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='30' y='270' stroke='rgba(121%2c 202%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='90' y='30' stroke='rgba(121%2c 202%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='90' y='90' stroke='rgba(121%2c 202%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='90' y='150' stroke='rgba(121%2c 202%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='90' y='210' stroke='rgba(121%2c 202%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='90' y='270' stroke='rgba(121%2c 202%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='150' y='30' stroke='rgba(121%2c 202%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='150' y='90' stroke='rgba(121%2c 202%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='150' y='150' stroke='rgba(121%2c 202%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1072' x='150' y='210' stroke='rgba(121%2c 202%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='150' y='270' stroke='rgba(121%2c 202%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='210' y='30' stroke='rgba(121%2c 202%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1072' x='210' y='90' stroke='rgba(121%2c 202%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='210' y='150' stroke='rgba(121%2c 202%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='210' y='210' stroke='rgba(121%2c 202%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='210' y='270' stroke='rgba(121%2c 202%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='270' y='30' stroke='rgba(121%2c 202%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='270' y='90' stroke='rgba(121%2c 202%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='270' y='150' stroke='rgba(121%2c 202%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='270' y='210' stroke='rgba(121%2c 202%2c 248%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='270' y='270' stroke='rgba(121%2c 202%2c 248%2c 1)'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1071'%3e%3crect width='250' height='300' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1075'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1072'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1074'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1076'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1073'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1077'%3e%3c/path%3e%3c/defs%3e%3c/svg%3e");
}
header{
    background-color: white;
}
.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.cabecera ul{
    list-style: none;
    padding: 0;
}
.paginacion{
    background-image: url("../images/pokeball.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    padding: 20px;
    font-weight: bold;
    margin: 10px;
    text-decoration: none;
}
.buttons_container{
    margin-top: 2rem;
    padding-bottom: 25px;
}
.info{
    display: flex;
    justify-content: space-around;
}
.info p{
    border: 2px solid black;
    border-radius: 40px;
    padding: 10px;
    text-transform: capitalize;
    font-weight: bold;
    background-color: #FFF;
}
.menu a{
    text-decoration: none;
    font-weight: bold;
}
input{
    border: none;
    border-bottom: 2px solid grey;
}
input:focus{
    outline: none;
}
#search__button{
    border: none;
    padding: 10px;
    border-radius: 3px;
}
.imagen{
    height: 125px;
}
h2{
    text-transform: capitalize;
}
.type_container{
    margin-top: 1.3rem;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}
.types{
    width: 14%;
}
.types button{
    width: 100%;
    border: 2px solid #2181D6;
    padding: 10px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
}
.pokemon span{
    font-weight: bold;
}
.girado{
    font-size: 1.1em;
    font-weight: 400;
}